.reactangle_page7 {
  margin-left: 48%;
  width: 62px;
  height: 45px;
  margin-top: -24px;
}
.testimonial_page7_homepage {
  margin-top: 50px;
}
.arrower1 {
  color: #f26c4f;
}
.arrower1:hover {
  background-color: #f26c4f;
  color: white;
}
.pather:hover {
  color: white;
}
.triangle_page7 {
  margin-top: 30px;
  margin-left: -38px;
  width: 30px;
  height: 25px;
}
.Quotes_page7 {
  position: absolute;
  margin-left: -45px;
  color: white;
  margin-top: 8px;
  width: 24px;
  height: 20px;
}
.page7_subtitle {
  margin-top: -50px;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.3rem;
}
.testimonial_page7_homepage .slick-arrow.slick-prev,
.testimonial_page7_homepage .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-arrow.slick-next {
  right: -70px;
}
.slick-arrow.slick-prev {
  left: -70px;
}
.testimonial_page7_homepage .slick-dots li button:before {
  font-size: 15px;
}
.testimonial_page7_homepage .slick-dots li {
  top: 15px;
}
@media only screen and (max-width: 550px) {
  .reactangle_page7 {
    margin-left: 42%;
    width: 40px;
    height: 30px;
    margin-top: 7%;
  }
  .quoter {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .triangle_page7 {
    margin-top: 55px;
    margin-left: -30px;
    width: 28px;
    height: 23px;
  }
  .testimonial_page7_homepage {
    margin-top: 20px;
  }
  .Quotes_page7 {
    margin-top: 45px;
    width: 20px;
    height: 16px;
    margin-left: -32px;
  }
}
