/* .searchDropdownStyle {
  background-color: #ebecf0;
  color: #172b4d;
} */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.button_profile{
  margin-top: 5%;
}
.Profile_list_mobile {
  display: none;
}
.Profile_list_laptop {
  height: 100%;
  min-height: 90.5vh;
}
.Gender_col {
  margin-left: 10%;
}
.Mobilenum_input {
  width: 22%;
}
.multiSelectContainer input {
  color: #f26c4f;
}
.mobile_nav_profile {
  display: none;
}
.WorkEx_Mobile_view {
  display: none;
}
.Education_Mobile_view {
  display: none;
}

.button_slide_Edu_Profile {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  padding: 16px 24px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

@media screen and (max-width: 768px) {
  .button_profile{
    margin-left: 35%;
  }
  .Profile_list_laptop {
    display: none;
  }
  .mobile_nav_profile {
    display: block;
  }
  .Profile_list_mobile {
    display: block;
  }
  .Gender_col {
    margin-left: 0%;
  }
  .Mobilenum_input {
    width: 52%;
  }
  .WorkEx_Desktop_view {
    display: none;
  }
  .WorkEx_Mobile_view {
    display: block;
  }
  .Education_Mobile_view {
    display: block;
  }
  .Education_Desktop_view {
    display: none;
  }
  .row > * {
    padding: 0;
  }
}
