.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.referral_code {
  text-align: center;
}
.reward_mins_mobile {
  display: none !important;
}
.profile_icon_text {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgba(242, 108, 79);
  padding: 3px;
  background-color: transparent;
  border: 2px solid rgba(242, 108, 79);
}
.navdrop_profile {
  padding-right: 35px;
}
.profile_box {
  text-align: center;
  padding-left: 35px;
  margin-top: 4px;
}
@media screen and (max-width: 786px) {
  .reward_mins {
    display: none !important;
  }
  .referral_code {
    text-align: left;
  }
  .reward_mins_mobile {
    display: block !important;
  }
}
@media screen and (max-width: 992px) {
  .navdrop_profile {
    padding-right: 0px;
    padding-left: 35px;
  }
}
