.leader_board {
  height: 300px;
  width: 20%;
  min-width: 300px;
  background-color: #e4dbcb;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
}
.image_trophy {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.leaderboard_header {
  background-color: #f5ae39;
  border-radius: 10px 10px 0px 0px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.leader_winner {
  display: flex;
  justify-content: flex-start;
  height: 60px;
}
.rank_leader_board {
  width: 70px;
}
#rank1 {
  text-align: center;
  padding-top: 17px;
  background-color: #f5ae39;
}
#rank2 {
  text-align: center;
  padding-top: 17px;
  background-color: #e9e9e9;
}
#rank3 {
  text-align: center;
  padding-top: 17px;
  background-color: #ce8363;
}
.leader_profile_container {
  height: 240px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.winner_profile {
  width: 100%;
  display: flex;
  padding-left: 5px;
  padding-right: 10px;
  justify-content: space-between;
  padding-top: 17px;
  color: #b7b7b9;
  background-color: #f7ffff;
}
.reward_points {
  color: black;
  font-weight: 600;
}
