.cardpage3 {
  background-color: #020312;
  color: #272727;
  border: 2px;
  border-color: rgba(242, 108, 79, 0.6);
  border-style: solid;
  transition: 200ms;
  width: 380px;
  animation: slider 3s;
  height: fit-content;
  min-height: 410px;
  cursor: pointer;
  border-radius: 12px;
}
.company_image {
  margin-right: 0.8rem;
  height: 1.3rem;
  width: 1.5rem;
}
.cardpage3 {
  background-color: #020312;
}
.cardpage3:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgba(134, 50, 50, 0.8), 0 4px 8px #f26c4f;
}
.card-image {
  width: 376px;
  height: 250px;
  border-radius: 12px 12px 0px 0px;
  margin-top: -17px;
}
.lowertext2 {
  margin-left: 10rem;
  color: grey;
}
.texting {
  margin-top: -5px;
  margin-left: 10px;
  color: white;
  font-size: 1.2rem;
}
.card-like-bar {
  margin-top: 20px;
}
.like-text {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 5px;
  color: grey;
}
.like-text1 {
  font-size: 0.9rem;
  margin-left: 10px;
  color: grey;
}
.boxing {
  margin-top: -0.7rem;
}

@keyframes slider {
  0% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1024px) {
  .cardpage3 {
    width: 430px;
    height: 500px;
  }
  .card-image {
    width: 428px;
    height: 280px;
  }
  .texting {
    margin-top: 0rem;
    font-size: 2rem;
  }
  .container_card {
    margin-top: 10px;
  }
  .like-text,
  .like-text1 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .cardpage3 {
    width: 385px;
  }
  .card-image {
    width: 375px;
  }
  .texting {
    font-size: 1.8rem;
  }
  .like-text,
  .like-text1 {
    font-size: 1rem;
  }
  .line {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .cardpage3 {
    width: 380px;
    height: 500px;
  }
  .card-image {
    width: 378px;
    height: 280px;
  }
  .soon {
    margin-left: 220px;
  }
  .line {
    margin-top: -0.5rem;
  }
  .like-text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .cardpage3 {
    margin-top: -100px;
    width: 250px;
    height: 400px;
  }
  .card-image {
    width: 240px;
    height: 200px;
  }
  .line {
    margin-top: 0.5rem;
  }
  .texting {
    font-size: 1.2rem;
  }
  .like-text,
  .like-text1 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  .cardpage3 {
    margin-top: -110px;
    width: 200px;
    height: 350px;
  }
  .card-image {
    width: 198px;
    height: 200px;
  }
  .like-text,
  .like-text1 {
    font-size: 0.7rem;
  }
  .texting {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 670px) {
  .cardpage3 {
    margin-top: -100px;
    width: 240px;
    height: 400px;
  }
  .card-image {
    width: 230px;
    height: 200px;
  }
  .texting {
    font-size: 1.2rem;
  }
  .like-text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  .cardpage3 {
    margin-top: -110px;
    width: 240px;
    height: 350px;
  }
  .card-image {
    width: 236px;
    height: 200px;
  }
  .like-text {
    margin-bottom: 30px;
  }
  .like-text,
  .like-text1 {
    font-size: 0.9rem;
  }
  .texting {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .like-text,
  .like-text1 {
    font-size: 0.9rem;
  }
  .texting {
    font-size: 1.1rem;
  }
}
