.cardpage3 {
  background-color: #06050b;
  color: #272727;
  border: 1px;
  border-color: #f26c4f;
  border-style: solid;
  transition: 200ms;
  width: 360px;
  animation: slider 3s;
  height: 430px;
  cursor: pointer;
}
.company_image {
  margin-right: 0.8rem;
  height: 1.3rem;
  width: 1.5rem;
}
.cardbox3 {
  background-color: rgb(24, 23, 23);
}
.cardpage3:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgba(134, 50, 50, 0.8), 0 4px 8px #f26c4f;
}
.card-image {
  width: 358px;
  height: 210px;
}
.lowertext2 {
  margin-left: 10rem;
  color: grey;
}
.card-image {
  margin-top: -17px;
}
.texting {
  margin-top: 10px;
  margin-left: 30px;
  color: white;
  font-size: 1.5rem;
}
.card-like-bar {
  margin-top: 20px;
}
.like-text {
  font-size: 1.1rem;
  margin-left: 30px;
  color: rgb(141, 34, 34);
}
.boxing {
  margin-top: -0.7rem;
}
.join {
  color: white;
  margin-left: 10%;
  font-size: 1.3rem;
}
.soon {
  font-size: 1.3rem;
  color: grey;
  margin-left: 50%;
}
.line {
  color: aliceblue;
  margin-top: 1.2rem;
}
@keyframes slider {
  0% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1024px) {
  .cardpage3 {
    width: 430px;
    height: 500px;
  }
  .card-image {
    width: 428px;
    height: 280px;
  }
  .join {
    font-weight: 1.8rem;
  }
  .line {
    margin-top: -1.5rem;
  }
  .soon {
    margin-left: 220px;
    font-size: 1.8rem;
  }
  .texting {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .container_card {
    margin-top: 10px;
  }
  .like-text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1000px) {
  .cardpage3 {
    width: 385px;
  }
  .card-image {
    width: 383px;
  }
  .texting {
    font-size: 1.8rem;
  }
  .like-text {
    font-size: 1.3rem;
  }
  .line {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .cardpage3 {
    width: 380px;
    height: 500px;
  }
  .card-image {
    width: 378px;
    height: 280px;
  }
  .soon {
    margin-left: 220px;
  }
  .line {
    margin-top: -0.5rem;
  }
  .like-text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .cardpage3 {
    margin-top: -100px;
    width: 250px;
    height: 400px;
  }
  .card-image {
    width: 248px;
    height: 200px;
  }
  .join {
    margin-left: 28px;
  }
  .soon {
    margin-left: 110px;
    font-size: 1.3rem;
  }
  .texting,
  .like-text {
    margin-left: 20px;
  }
  .line {
    margin-top: 0.5rem;
  }
  .texting {
    font-size: 1.2rem;
  }
  .like-text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  .cardpage3 {
    margin-top: -110px;
    width: 200px;
    height: 350px;
  }
  .card-image {
    width: 198px;
    height: 200px;
  }
  .like-text {
    font-size: 0.7rem;
  }
  .texting {
    font-size: 1rem;
  }
  .line {
    margin-top: -3rem;
  }
  .join {
    font-size: 1rem;
  }
  .soon {
    margin-left: 90px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 670px) {
  .cardpage3 {
    margin-top: -100px;
    width: 250px;
    height: 400px;
  }
  .card-image {
    width: 248px;
    height: 200px;
  }
  .join {
    margin-left: 28px;
  }
  .soon {
    margin-left: 110px;
    font-size: 1.3rem;
  }
  .texting,
  .like-text {
    margin-left: 20px;
  }
  .line {
    margin-top: 0.5rem;
  }
  .texting {
    font-size: 1.2rem;
  }
  .like-text {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  .cardpage3 {
    margin-top: -110px;
    width: 200px;
    height: 350px;
  }
  .card-image {
    width: 198px;
    height: 200px;
  }
  .like-text {
    font-size: 0.7rem;
  }
  .texting {
    font-size: 1rem;
  }
  .line {
    margin-top: -3rem;
  }
  .join {
    font-size: 1rem;
  }
  .soon {
    margin-left: 90px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .like-text {
    font-size: 0.9rem;
  }
  .texting {
    font-size: 0.9rem;
  }
}
