.page2_mobile_view {
  display: none;
}
.page2_laptop_view {
  display: block;
}
.page2card:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgba(134, 50, 50, 0.8), 0 4px 8px #f26c4f;
}
.page2card2:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgb(200, 150, 54,0.4), 0 4px 8px rgb(200, 150, 54,0.4);
}

.page2card3:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgb(86, 150, 112,0.6), 0 4px 8px rgb(86, 150, 112,0.6);
}

.color-block {
  width: 45px;
  height: 45px;
}

.opensans_text {
  font-family: "Open Sans", sans-serif !important;
}

@media screen and (max-width: 768px) {
  .page2_mobile_view {
    display: block;
  }
  .page2_laptop_view {
    display: none;
  }
}
