.page2_mobile_view {
  display: none;
}
.page2_laptop_view {
  display: block;
}
.page2card:hover {
  transform: scale(0.97);
  box-shadow: 0 10px 20px rgba(134, 50, 50, 0.8), 0 4px 8px #f26c4f;
}
.color-block {
  width: 45px;
  height: 45px;
}

.card_arrow1 {
  margin-left: 100%;
  margin-bottom: -4%;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.opensans_text {
  font-family: "Open Sans", sans-serif !important;
}

@media screen and (max-width: 768px) {
  .page2_mobile_view {
    display: block;
  }
  .page2_laptop_view {
    display: none;
  }
  .card_arrow1 {
    margin-bottom: -7%;
    margin-left: 90%;
  }
}
