.pack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f26c4f;
  border-radius: 2px;
  padding: 30px;
  position: relative;
  height: auto;
  width: 100%;
}
.expert_switchbtn {
  background-color: Transparent;
  color: #f26c4f;
  border: 2px solid #f26c4f;
  background-repeat: no-repeat;
  padding: 5px 20px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.nav_switchbtn {
  margin-top: 0;
}
.imag {
  position: absolute;
  height: auto;
  width: 240px;
  top: 0%;
  margin: -50px auto;
}
.img_experttop {
  height: 134.91px;
  width: 240px;
}
.img_company {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.img_arr_expert_page {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.img_arr {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
  width: 500px;
}
.para {
  padding-top: 3.5em;
  display: flex;
  flex-direction: column;
}
.logo_para {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h3 {
  text-align: center;
  color: #fff;
}
.subtitle_expertcard {
  margin: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}
.skillsptag {
  font-size: 15px;
}
.subtitle2_expertcard {
  text-align: left;
  color: white;
  margin-top: 3%;
}
.box2_page1 {
  margin-bottom: 2%;
}
.card_mastercard2 {
  width: 45vh;
  height: 23rem;
  margin-bottom: 3%;
  margin-top: 3%;
}
.btn_follow {
  margin-top: 340px;
}
@media screen and (max-width: 768px) {
  .pack {
    padding-top: 16%;
  }
  .btn_follow {
    margin-left: 0%;
    margin-top: 440px;
  }
}
