.container1 {
  margin-right: 0%;
  margin-left: 5% !important;
}
.anim_img {
  height: 90%;
  width: 100%;
}
.vertical-menu::-webkit-scrollbar {
  width: 10px;
}

.vertical-menu::-webkit-scrollbar-track {
  background-color: rgba(167, 161, 161, 0.3);
  border-radius: 100px;
}

.vertical-menu::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: white;
}

.vertical-menu {
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: white;
  scrollbar-width: thin;
  justify-content: space-around !important;
  flex-flow: row wrap;
  height: 110%;
  column-gap: em !important;
}

.mbd_image {
  height: 250px;
}
.container2_page3 {
  margin-top: 0%;
}
@media only screen and (min-width: 500px) {
  .rec.rec-arrow-left {
    margin-left: 30px;
    margin-right: -22px;
  }
  .rec.rec-arrow-right {
    margin-right: 30px;
    margin-left: -22px;
  }
}
.vertical-menu a {
  padding: 22px;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 200%;
  font-weight: 300;
}
.twoline_desc {
  margin-left: 2%;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1%;
  text-align: justify;
}
.main_card {
  width: 100%;
  height: fit-content;
  margin-left: "1.5%";
  background-color: rgba(242, 108, 79, 0.07);
  border: 2px solid rgba(242, 108, 79, 0.6);
  margin-bottom: 5%;
  border-radius: 2%;
}
.menu_card {
  width: 100%;
  height: 430px;
  margin-left: "1.5%";
}
.img_letsgo {
  width: 100%;
  height: 430px;
}
.appreciation {
  display: flex;
  justify-content: space-evenly;
}
.main_cardbody {
  margin-top: 20px;
}
.page3_heading1 {
  font-size: 2.5rem;
}
.page3_3linetext {
  font-size: 20px;
}
.page3_cardtext {
  font-size: 25px;
  margin-left: 25px;
}
.img_page3_card {
  margin-right: 0;
  height: 50px;
  width: 70px;
  padding-bottom: 10px;
  text-align: right;
}
.text_page3_card {
  font-size: 20px;
}
.text_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.img_col {
  padding: 0%;
  text-align: center;
}
.card1_page3 {
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(242, 108, 79, 0.12);
  margin-top: 5%;
}
.button_slide_page3 {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  padding: 8px 20px 12px 20px;
  margin-top: 5%;
  margin-bottom: 10%;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 10%;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.menu_list {
  border: 2px solid rgb(107, 106, 106);
  width: 90%;
  text-decoration: none;
  margin-top: 1%;
  border-radius: 4%;
}
.menu_list:hover {
  border: 2px solid #f26c4f;
  width: 90%;
  text-decoration: none;
}
.button_arrow_Letsgo_Page3 {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}
.button_arrow_Letsgo_Page3x {
  position: absolute;
  margin-top: 10px;
  margin-left: 45px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}
.Whats_inforyou_mobile_view {
  display: none;
}
.explore_sessions {
  margin-left: 68%;
}
.epi {
  margin-left: 2%;
}
.inr_button {
  width: 50%;
}
.mobile_view_video_master {
  display: none !important;
}
.masterclass_name_mobile {
  display: none !important;
}
.masterclass_video_mobile {
  display: none;
}
.soci_master {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .info {
    display: none;
  }
  .img_letsgo {
    height: 200px !important;
  }
  .appreciation {
    display: block;
  }
  .img_text {
    margin-left: 25px;
  }
  .soci_master_lap {
    display: none;
  }
  .masterclass_video_laptop {
    display: none;
  }
  .masterclass_video_mobile {
    display: block;
  }
  .masterclass_name_laptop {
    display: none !important;
  }
  .masterclass_name_mobile {
    display: block !important;
  }
  .laptop_view_video_master {
    display: none !important;
  }
  .mobile_view_video_master {
    display: flex !important;
    justify-content: space-evenly;
  }
  .mbd_image {
    height: 14rem;
  }
  .explore_sessions {
    margin-left: 10%;
  }
  .container1 {
    margin-right: 0%;
    margin-left: 2% !important;
  }
  .vertical-menu {
    margin-left: 0%;
    height: 150px;
    overflow-y: auto;
    font-size: 16px;
  }
  .vertical-menu a {
    font-size: 16px;
  }
  .menu_card {
    width: 100%;
    height: 200px;
    margin-top: 0%;
  }
  .main_card {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  .main_cardbody_row {
    width: fit-content;
    margin-left: 2%;
    border-radius: 20%;
  }
  .twoline_desc {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
  }
  .epi {
    text-align: center;
  }
  .img_letsgo {
    width: 100%;
    padding: 0%;
    height: 60%;
    margin-top: 4%;
  }
  .main_cardbody {
    margin-top: 0;
    padding: 0;
  }
  .col1_cardbody {
    padding: 0;
  }
  .page3_heading1 {
    font-size: 34px;
    text-align: center;
  }
  .page3_3linetext {
    font-size: 14px;
  }
  .page3_cardtext {
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }
  .img_page3_card {
    margin-left: -10px;
    height: 30px;
    width: 40px;
    padding-bottom: 10px;
  }
  .button_slide_page3 {
    font-size: 14px;
    padding: 2px 5px;
    margin-top: 21%;
  }
  .inr_button {
    width: 100%;
  }
  .card1_page3 {
    margin: auto !important;
    width: 90%;
  }
  .text_page3_card {
    font-size: 15px;
    margin-left: -8px;
  }
  .anim_img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2%;
    border-radius: 20px;
  }
  .button_arrow_Letsgo_Page3 {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .menu_list {
    width: 100%;
  }
  .menu_list:hover {
    width: 100%;
  }
  .Whats_inforyou_desktop_view {
    display: none;
  }
  .Whats_inforyou_mobile_view {
    display: inline;
  }
}
