.mobile_view {
  display: none;
}
.laptop_view {
  display: block;
}
.page4_maindiv {
  margin-top: 5%;
}
.button_div_page4 {
  position: relative;
  margin-top: 10%;
  margin-left: 43%;
}
.getin {
  margin-left: 150px;
}
.heading_1 {
  margin-left: 8%;
  font-size: 48px;
}
.heading_1span {
  margin-left: 0;
  font-size: 48px;
  color: grey;
}
.heading_2 {
  margin-left: 500px;
  font-size: 50px;
}
.learn_heading {
  text-indent: 20px;
  color: #f26c4f;
}
.grid_imgs {
  border-radius: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(5, 5, 5, 0.5);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 65%;
  transform: translate(-50%);
  transition: 0.5s;
  color: #fff;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.grid_imgs:hover .myimg {
  transform: rotateZ(20deg);
  transition: 0.5s;
}
.myimg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .layer h3 {
    font-size: 15px;
    left: 65%;
  }
  .heading_2 {
    margin-left: 20px;
    font-size: 25px;
  }
  .heading_1 {
    margin-left: 20px;
    font-size: 25px;
  }
  .heading_1span {
    font-size: 30px;
  }
  .getin {
    margin-left: 20px;
  }
  .img-grid_row {
    position: relative;
    margin-top: 10%;
  }
  .layer h3 {
    font-size: 12px;
  }
  .button_div_page4 {
    margin-top: -30%;
  }
  .page4_maindiv {
    position: relative;
    margin-top: 15%;
  }
  .button_div_page4 {
    position: relative;
    margin-top: 0%;
    margin-left: 46%;
  }
  .img-grid_row {
    position: relative;
    margin-top: 10%;
  }
  .laptop_view {
    display: none;
  }
  .mobile_view {
    display: block;
  }
}
