.gig_page2_p5 {
  font-size: 20px;
  color: rgb(243, 123, 97);
  margin-left: -18%;
  font-family: "Open Sans", sans-serif !important;
}
.gig_page2_row1 {
  padding-left: 66%;
}
.button_arrow_gig {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(255 255 255 / 25%);
}
.btn_recommend {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  padding: 16px 24px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-out 0.4s;
}
.col-button {
  padding-left: 12%;
}
.mobile_view_of_icons {
  display: none;
}
@media screen and (max-width: 768px) {
  .btn_div {
    display: flex;
    justify-content: center;
  }
  .laptop_view_of_icons {
    display: none;
  }
  .mobile_view_of_icons {
    display: block;
  }
  .col-button {
    padding-left: 0%;
  }
  .gig_page2_p5 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
  }
  .zingerx {
    display: flex;
    justify-content: center;
  }
  .check_masterclass {
    margin-bottom: 20px;
  }
  .button_arrow_gig {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
    color: rgb(212, 71, 41);
    background: #000000;
    border: 1px solid #f26c4f;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(255 255 255 / 25%);
  }
  .mast_page2_p2 {
    text-align: center;
  }
  .mast_page2_p3 {
    text-align: center;
  }
  .social_link {
    display: flex;
    justify-content: center;
  }
  .gig_page2_row1 {
    padding-left: 0%;
  }
}
