.rectangle-box2 {
  width: 100%;
  height: 175px;
  border: 1px solid rgb(212, 71, 41);
  background: transparent;
}
.image1 {
  margin-top: 25%;
}
.image2 {
  margin-left: 75%;
  margin-top: 30%;
}
.image3 {
  margin-top: 20%;
}
.image4 {
  margin-left: 140%;
}
.mast_page2_p1 {
  font-size: 48px;
}

.button_slide_MC_Page2 {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  padding: 10px 18px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_div_MC_Page2 {
  margin-top: 3%;
}

.button_arrow_MC_Page2 {
  position: absolute;
  margin-top: -20px;
  margin-left: -165px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.button_arrow_MC_Page2_2 {
  position: absolute;
  margin-left: 16.8%;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: #fff;
  background: rgb(212, 71, 41);
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.button_arrow_MC_Page2_Right {
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.mast_page2_p2 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif !important;
}

.mast_page2_row {
  padding-left: 45%;
}
.mast_page2_row1 {
  padding-left: 57%;
}
.mast_page2_p3 {
  font-size: 36px;
}

.mast_page2_p4 {
  font-size: 36px;
  padding-top: 10%;
}

.mast_page2_p5 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif !important;
}

.top-container {
  margin-top: 7%;
}

.col-container {
  height: 280px;
}

.col-button {
  padding-top: 50px;
  padding-left: 12%;
}

.button_slide_MC_Page2_2 {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  padding: 16px 24px;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.super_men_women {
  padding-left: 12%;
}
@media screen and (max-width: 768px) {
  .mast_page2_p1 {
    text-align: center;
    font-size: 24px;
  }
  .button_div_MC_Page2 {
    margin-left: 25%;
  }
  .super_men_women {
    padding-left: 30%;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    margin-left: 0px;
  }
  .mast_page2_p2 {
    font-size: 16px;
    margin-left: 15%;
    font-family: "Open Sans", sans-serif !important;
  }
  .mast_page2_p3 {
    font-size: 16px;
  }
  .mast_page2_p4 {
    padding-left: 30%;
    font-size: 18px;
    padding-top: 10%;
  }
  .mast_page2_row {
    padding-left: 30%;
  }
  .mast_page2_row1 {
    padding-left: 45%;
  }
  .mast_page2_p5 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif !important;
  }

  .mast_page2_row {
    padding-left: 30%;
    padding-top: 20px;
  }

  .top-container {
    margin-top: 10%;
  }
  .col-container {
    height: fit-content;
  }

  .col-button {
    padding-left: 100%;
    padding-top: 0;
  }
  .button_slide_MC_Page2 {
    padding: 5px 8px;
    font-size: 14px;
  }
  .button_arrow_MC_Page2 {
    margin-left: -140px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
  .button_slide_MC_Page2_2 {
    padding: 4px 10px;
  }
  .button_arrow_MC_Page2_Right {
    margin-top: -15px;
    margin-left: 3px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .button_arrow_MC_Page2_2 {
    position: absolute;
    margin-left: 38%;
    width: 30px;
    height: 30px;
  }
}
