.page5_maindiv{
  margin-top: 10%;
}
.line_space{
  display: none;
}
.rectangle-box {
  margin-top: 5%;
  margin-left: 9.5%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid rgb(212, 71, 41);
  background: transparent;
}
.button_div_page5{
  margin-top: 5%;
  margin-left: 44.3%;
}
.text1 {
  padding-top: 13%;
  padding-right: 7%;
  font-size: 40px;
  text-align: right;
}

.text2 {
  font-family: "Open Sans", sans-serif !important;
  padding-bottom: 100px;
  padding-right: 7%;
  font-size: 20px;
  text-align: right;
}

.text3 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 24px;
}

.discord_img {
  height: 300px;
  width: 100%;
}
.page5_linespace{
  display: none;
}
@media screen and (max-width: 768px) {
  .rectangle-box {
    margin-left: 15%;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border: 1px solid rgb(212, 71, 41);
    background: transparent
  }
  .line_space{
    display: inline;
  }
  .discord_img {
    height: 150px;
    width: 260px;
  }

  .text1 {
    padding-top: 10%;
    font-size: 24px;
    text-align: center;  
    padding-right: 0%;  
  }

  .text2 {
    padding-top: 10%;
    padding-right: 0%;
    font-size: 16px;
    text-align: center;
  }

  .text3 {
    font-size: 15px;
  }
  .page5_maindiv{
    margin-top: 18%;
  }
  .rectangle-box{
    margin-top: 18%;
  }
  .button_div_page5{
    margin-left: 45.5%;
  }
  .page5_linespace{
    display: inline;
  }
}
