.page5_maindiv {
  margin-top: 5%;
}
.line_space {
  display: none;
}
.rectangle-box {
  margin-top: 5%;
  margin-left: 9.5%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid rgb(212, 71, 41);
  background: transparent;
}

.text1 {
  padding-top: 13%;
  padding-right: 7%;
  font-size: 40px;
  text-align: right;
}

.text3 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.3rem;
}

.page5_linespace {
  display: none;
}
@media screen and (max-width: 768px) {
  .rectangle-box {
    margin-left: 15%;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border: 1px solid rgb(212, 71, 41);
    background: transparent;
  }
  .line_space {
    display: inline;
  }

  .text1 {
    padding-top: 10%;
    font-size: 24px;
    text-align: center;
    padding-right: 0%;
  }

  .text3 {
    font-size: 15px;
  }
  .page5_maindiv {
    margin-top: 10%;
  }
  .rectangle-box {
    margin-top: 18%;
  }
  .page5_linespace {
    display: inline;
  }
}
