.button2_slide_page3 {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  padding: 23px 30px 22px 30px;
  margin-top: 1%;
  margin-bottom: 10%;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.button2_slideview_page3 {
  font-family: "Open Sans", sans-serif !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f26c4f;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 30px 15px 30px;
  margin-top: 7%;
  margin-bottom: 10%;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.mbd_card {
  height: fit-content;
  min-height: 24.3rem;
}
.button_arrow1_footer_gigspage3 {
  position: absolute;
  margin-top: -15px;
  margin-left: 35px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}
.button_arrow2_footer_gigspage3 {
  position: absolute;
  margin-top: -5px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  padding: 7px;
  color: rgb(212, 71, 41);
  background: #000000;
  border: 1px solid #f26c4f;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25);
}

.applyby_text {
  margin-left: 22%;
}
.text_page3_card_gigs {
  font-size: 18px;
}
.mobile_view_btn_gig {
  display: none !important;
}
.page3_cardtext {
  margin-top: 12px;
  margin-left: 23px;
}
.proj_det_mobile {
  display: none !important;
}
.d2 {
  margin-left: -80px;
}
.page3_cardtext {
  margin-top: 12px;
  margin-left: 23px;
}
@media screen and (max-width: 768px) {
  .container2_page3 {
    margin-right: 0%;
    margin-left: 2% !important;
  }
  .text_page3_card {
    text-align: center;
    margin-left: auto;
  }

  .text_page3_card_gigs {
    font-size: 14px;
  }
  .button_arrow1_footer_gigspage3,
  .button_arrow2_footer_gigspage3 {
    width: 30px;
    height: 30px;
  }
  .button_arrow1_footer_gigspage3 {
    margin-left: 25px;
  }
  .button2_slide_page3 {
    font-size: 12px;
    padding: 18px 22px;
    margin-top: 22%;
  }
  .apply_now_button {
    font-size: 12px;
    padding: 8px 12px;
    margin-top: 0%;
  }
  .lastcol_page3_gigs {
    margin-left: 10px;
    text-align: center;
  }
  .laptop_view_btn_gig {
    display: none !important;
  }
  .mobile_view_btn_gig {
    display: flex !important;
    justify-content: space-evenly;
  }
  .page3_cardtext {
    text-align: center !important;
  }
  .proj_det_laptop {
    display: none !important;
  }
  .proj_det_mobile {
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .d1 {
    margin-right: 20px;
  }
  .d3 {
    margin-right: 60px;
  }
}
