/* .unified__sidebar {
  background-color: rgb(242, 108, 79);
}
.list__item:hover {
  color: white;
}
.css-vro7g0 {
  border: 0px !important;
}
.main__chat {
  color: rgb(242, 108, 79);
}
.css-dar85v,
.css-1ci66ko,
.css-1q9r8rv {
  color: rgb(242, 108, 79) !important;
}
.css-c4yxs9,
.css-1kto3a2,
.css-nak6hv,
.css-s0w2zm-CometChatBadgeCount {
  background-color: black !important;
}
img {
  border: 0px !important;
}
.css-rjv69e {
  color: black !important;
}
.css-q0py2k,
.css-khmfkg {
  border: 0px !important;
  color: black !important;
}
.css-ra048q {
  background-image: url();
}

.css-oqag9p {
  background-color: rgb(242, 108, 79) !important;
}
i {
  background-color: white !important;
}
.css-oo4eva > button[value="yes"],
.css-oo4eva > button[value="no"] {
  color: black !important;
  background-color: rgb(242, 108, 79) !important;
  border: 0px;
}
.css-ezgl1k {
  border: 0px !important;
}
.css-cgp880,
.css-ktb6s3,
.css-128ks14,
.css-143801f {
  background-color: black !important;
}
.css-1cgz8sa-CometChatBlockedUser {
  border: 0px;
}
.css-y0b2e5,
.css-1njicyp-CometChatBlockedUser,
.css-xi606m,
.css-1836g67,
.css-1p1ib4y,
.css-jtfp66,
.css-apt4nl {
  color: black !important;
}
.css-1cgz8sa-CometChatBlockedUser {
  width: fit-content !important;
}
.css-1jir9sg,
.css-1cymfvs,
.css-15l5s8i,
.css-1qf602g,
.css-uapqe {
  background-color: white !important;
}
.css-b6pl3e,
.css-2gldom,
.css-5izzkn,
.css-bzuzm9,
.css-1e1wt6o,
.css-1dnjque,
.css-ggpv34:empty:before {
  color: white !important;
}
.css-7i49q0::placeholder {
  color: white;
}
.css-nak6hv {
  border: 1px solid rgb(242, 108, 79) !important;
} */
