.blog-box {
  padding: 10px !important;
  width: 280px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid rgb(212, 71, 41);
  background: transparent;
}
.night {
  position: relative; /* position: relative; */
  width: 100%;
  height: 100%;
  transform: rotateZ(40deg);
}

.star {
  position: absolute;
  margin-top: 40%;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #dd853c, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #bb6746);
  animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #f26c4f,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(60% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2) {
  top: calc(20% - 50px);
  left: calc(20% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 1.2s;
}

.star:nth-child(3) {
  top: calc(25% - 0px);
  left: calc(10% - 250px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  top: calc(20% - -50px);
  left: calc(20% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 1.6s;
}

.star:nth-child(5) {
  top: calc(50% - -100px);
  left: calc(35% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 1.8s;
}

.search:focus {
  outline: none;
}

.rectangle {
  margin-top: 10%;
  margin-left: 2%;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 1px solid rgb(212, 71, 41);
  background: transparent;
}

.SocialLearn_list_mobile {
  display: none;
}

.form-check-input:checked[type="checkbox"] {
  background-color: rgb(242, 108, 79);
  border-color: rgb(242, 108, 79);
}
.search {
  width: 40%;
}
.search_button {
  width: 10%;
}
.video_social_learn {
  width: 350px;
}
.profile_logo_text_laptop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.profile_logo_text_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .SocialLearn_laptop {
    display: none;
  }
  .profile_logo_text_laptop {
    display: none;
  }
  .profile_logo_text_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .video_social_learn {
    width: 100%;
  }
  .impart_know {
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .search_button {
    width: 30%;
  }
  .search {
    width: 60%;
  }
  .SocialLearn_list_mobile {
    display: inline;
  }
  .discord_img {
    width: 100%;
  }
  .rectangle {
    width: 80%;
    height: 300px;
    margin: auto;
  }
  .text1,
  .text2 {
    margin-top: -10px;
  }
}
